.searchbar {
    display: flex; 
    align-items: center; 
    background-color: transparent; 
    height: 5vh;
    border-radius: 2vh;
    width: 100%;
}

.input {
    width: 50%;
    flex: 1; 
    font-size:2.5vh;
    height: 4.9vh;
    margin: 0;
    padding: 0;
    text-align: center;
    color: black;
    border-radius: 2vh 0 0 2vh;
    border: 1px solid #adadad;
    background-color: white;
    
}

.button {
    width: 50%;
    font-size: 2.5vh;
    height: 5vh;
    color: white;
    background-color: rgb(131, 34, 196);
    border-radius: 0 2vh 2vh 0;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 4px 4px var(--main-color);
    transition: 0.5s;
}

.button:hover {
   
    background-color: rgb(103, 15, 161);
    border:none;
  }