.button1{
    background-color: white;
    height: 4vh;
    margin-left: auto;
    width: 8vw;
    color: black;
    font-size: 2vh;
    border-radius: 1vh;
    text-transform: uppercase;
    border: none;
}
.button2{
    background-color: white;
    height: 4vh;
    margin-left: 1vw;
    width: 10vw;
    color: black;
    font-size: 2vh;
    border-radius: 1vh;
    text-transform: uppercase;
    border:none
}
img{
    margin:1vh
}

.navbar{
    display: flex;
    flex-direction: row;
    height: 6vh;
    background-color: rgb(131, 34, 196);
    align-items: center;
    color:white;
    padding-left: 1vw;
    padding-right: 1vw;
}
h3{
    font-size: 3vh;
}